*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
 body{
  line-height: 1.4rem;
 }
 h1{
  margin: 24px;
  font-weight: bolder;
 }
  
header{
  margin: 70px;
  color: #ffffff;
  text-align: center;
}
.container{
   padding: 34px;
    margin: auto;
    width: 50%;
    background-color:darkgrey;
    border-radius: 8px;
    margin-bottom: 60px;


}
.input-text{
  border: none;
  padding: 11px 10px;
  width: 94%;
  border-radius: 3px;
}
button{
  color: #ffffff;
  background-color: rgb(60, 236, 119);
  font-size: 1.2rem;
  font-weight: bolder;
}
@media (max-width:660px){
  .container{
  width:70%
  }
  header{
    margin: 26px;
  }
}
